# PostgreSQL
POSTGRES_USER=consultorio
POSTGRES_PASSWORD=consultorio
POSTGRES_DB=consultorio

# API
JWT_SECRET=super-secret-change-in-prod-please
UPLOAD_DIR=/data/uploads
TAX_RATE=0.16
PORT=3001

# Worker
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_FROM=Consultorio Las Gaviotas <no-reply@consultorio.local>
WORKER_INTERVAL_MS=60000

# Seed admin
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_PASSWORD=admin123
SEED_ADMIN_NOMBRE=Administrador General